body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    border: 0%;
    padding: 0%;
     overflow-x: hidden;
     height: 100%;
  }  

h6{
    font-size: xx-large;
    color: white;
}

header{
    background-color:#014e56;
    width: 100vi;
    height: 700px;
}

section{
    width: 100vi;
    height: 684px;
    background-color:#012f34;
}

main{
    width: 100vi;
    height: 745px;
    background-color:#004047;
}

.red-line{
    width: 100vi;
    background-color:#f67e7e;
}

.dark-line{
    width: 100vi;
    background-color:#002529;

}

.myteam{
    width: 160px;
    height: 40px;
    position: relative;
    top: 65px;
    left: 140px;
}

.myteam2{
    width: 220px;
    height: 55px;
    position: relative;
    bottom: 50px;
    left: 200px;
}

nav{
    width: 100vi;
    position: absolute;
    color: white;
}

.contact-us{
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #FFF;
    background-color:#014e56;
    color: white;
    position: relative;
    left: 1390px;
    top: 50px;
    font-family: 'Poppins', sans-serif;
}

.home{
    text-decoration: none;
    color: white;
    position: relative;
    top: 50px;
    left: 200px;
}

.about{
    text-decoration: none;
    color: white;
    position: relative;
    top: 50px;
    left: 250px;
}


.home2{
    text-decoration: none;
    color: inherit;
position: relative;
bottom: 120px;
left: 190px;
color: white;
font-size: 22px;
}

.home2:hover{
    color: #F67E7E;
}

.about2{
    text-decoration: none;
    color: inherit;
    position: relative;
    left: 230px;
    bottom: 120px;
    color: white;
    font-size: 22px;
}

.about2:hover{
    color: #F67E7E;
}

.best-talent{
    color: #FFF;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    position: relative;
    top: 245px;
    left: 190px;
}

.talent{
    color: #F67E7E;
    font-size: 100px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}

.expansion-talent{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    position: relative;
    top: 120px;
    left: 900px;
}

.line1{
    width: 50px;
    height: 4px;
    background-color:#79C8C7;
    position: relative;
    top: -80px;
    left: 904px;
}

.shape-copy{
    position: relative;
    top: 184px;
    left: 1070px;
    z-index: 2;
}

.shape11{
    position: relative;
    top: 184px;
    left: 780px;
    z-index: 1;
}

.oval{
    position: relative;
    top: 184px;
    left: 1120px;
}

.shape{
    position: relative;
    top: 129px;
    left: 710px;
}

.square{
    width: 43px;
    height: 43px;
    background: #79C8C7;
    position: relative;
    top: 70px;
    left: 1954px;
    z-index: 2;
}

.decoration{
    position: relative;
    top: -85px;
}

.about:hover{
    color: #F67E7E;
}

.home:hover{
    color: #F67E7E;
}

.contact-us:hover{
    background-color: white;
    color: black;
}

.midText{
    color: #FFF;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    position: relative;
    top: 230px;
    left: 60px;
}

.red-text{
    color: #F67E7E;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    opacity: 0.8;
}

.content{
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    opacity: 0.8;
}

.line2{
    width: 50px;
    height: 4px;
    background: #F67E7E;
    position: relative;
    top: 170px;
    left: 60px;
}

.decoration2{
    position: relative;
    bottom: 111px;
    left: 1800px;
}

.workers{
    position: relative;
    left: 730px;
}

.implement{
    position: relative;
    left: 730px;
}

.productivity{
    position: relative;
    left: 730px;
}

.picture{
    position: relative;
    top: 80px;
    left: 640px;
}

.picture2{
    position: relative;
    top: 190px;
    left: 565px;
}

.picture3{
    position: relative;
    top: 290px;
    left: 490px;
}

.main_aside{
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    position: relative;
    top: 150px;
}

.success-stories{
    color: #79C8C7;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
}

.text{
    color: #FFF;
    text-align: center; 
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.text2{
    color: #FFF;
    text-align: center; 
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.text3{
    color: #FFF;
    text-align: center; 
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    position: relative;
    z-index: 2;
}

.main-text-box{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.blue{
    color: #79C8C7;
    position: relative;
    right: 100px;
}

.spec1{
    color: white;
    position: relative;
    right: 170px;
}

.section-content{
    position: relative;
    left: 150px;
}

.spec2{
    color: white;
    position: relative;
    right: 120px;
}

.spec3{
    color: white;
    position: relative;
    right: 140px;
}

.main-text-box{
    position: relative;
    top: 220px;
}

.name{
    position: relative;
    top: 250px;
    left: 623px;
}

.name2{
    position: relative;
    top: 168px;
    left: 1000px;
}

.name3{
    position: relative;
    top: 88px;
    left: 1390px;
}

.photo{
    width: 62px;
    height: 62px;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
    background-image: url(../img/0698c20cfd21812253f2e72cdac5214d.png);
    background-size: cover;
    position: relative;
    top: 90px;
    left: 540px;
}

.photo2{
    width: 62px;
    height: 62px;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
    background-image: url(../img/474e6d612c6752913bfd40944b70c106.png);
    background-size: cover;
    position: relative;
    top: 25px;
    left: 929px;
}

.photo3{
    width: 62px;
    height: 62px;
    border-radius: 62px;
    border: 2px solid #C4FFFE;
    background-image: url(../img/e4acf5163b4a3e6ba890f3d8eab1ebf0.png);
    background-size: cover;
    position: relative;
    left: 1320px;
    bottom: 35px;
}

.group8-copy{
    position: absolute;
}

.group20{
    position: relative;
    top: 5px;
    left: 1700px;
}

.decoration3{
    position: absolute;
    bottom: 170px;
    left: -100px;
    z-index: 1;
}


.button{
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #002529;
 background-color: #F67E7E;
    color: white;
    position: relative;
    left: 1500px;
bottom: 120px;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    color: black;
}


.symbol{
    position: relative;
    top: 159px;

}


.tut{
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
    position: relative;
    top: -40px;
    left: 250px;
    color: #002529;
}
.button1{
    position: relative;
    top: 10px;
}


.copyright{
    color: white;
text-align: right;
font-size: 16px;
font-weight: 600;
font-style: normal;
line-height: 25px; /* 166.667% */
width: 300px;
opacity: 0.6;
position: relative;
left: 1200px;
top: 70px;
}

.button:hover{
    border: 2px solid  #012F34;
    color: white;
    background: #012F34;
}

.media{
    position: relative;
    left: 1300px;
    bottom: 140px;
    color: white;
    height: 100px;
    width: 500px;
    font-size: 40px;

}

.contacts{
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    width: 445px;
    height: 100px;
    opacity: 0.6;
    position: relative;
    left: 550px;
    top: 110px;
}

.fa-square-facebook{
    letter-spacing: 15px;
}

.fa-pinterest{
    letter-spacing: 15px;
}

.fa-twitter{
    letter-spacing: 15px;
}

.fa-square-facebook:hover,.fa-pinterest:hover,.fa-twitter:hover{
    color:#F67E7E;
    cursor: pointer;
}
@media (max-width:1400px) {

}

@media (max-width:768px) {
    .myteam{
        width: 110px;
        height: 30px;
        position: relative;
        left: 20px;
        top: 59px;
    }
    
    .best-talent{
        color: #FFF;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
        
    }
    
    .talent{
        color: #F67E7E;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: 100px;
    }
    
    .decoration{
        opacity: 0%;
    }
    
    .expansion-talent{
        font-size: 15px;
        position: relative;
        left: -80px;
        top: 250px;
        text-align: center;
    }
    .mobile-position{
        position: relative;
        bottom: 50px;
        right: 30px;
    }
}